<div class="photo">

    <a href="" data-ng-click="mother.dealClick(card)">
        <div class="photo-index" data-ng-if="card.show">
            <div class="balloon-wrapper">
                <div class="balloon"><i class="font-icon fa fa-cart-arrow-down"></i></div>
            </div>
        </div>


        <div class="photo-wrapper">
            <img src="" data-ng-src="{{card.src}}">
        </div>


        <div class="photo-description">
            <h3>{{card.name}}</h3>
            <p><i class="fa fa-usd"></i>{{card.price}}</p>
        </div>
    </a>
</div>