
<!-- 	<div class="panel-heading">Fruit</div>
	<div class="panel-body">
		<div class="row">
		<div class="col-md-12">
		<div class="col-md-10 col-md-offset-1"> -->
			<div ng-controller="NavADCtrl">
				<div class="container slider">
					<image ng-repeat="slide in slides" class="slide slide-animation" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-hide="!isCurrentSlideIndex($index)"  ng-src="{{slide.image}}"></image>
				<a class="arrow prev" ng-click="prevSlide()"></a>
				<a class="arrow next" ng-click="nextSlide()"></a>
				<nav class="nav">
					<div class="wrapper">
						<ul class="dots">
							<li class="dot" ng-repeat="slide in slides">
								<a ng-class="{active: isCurrentSlideIndex($index)}"
									ng-click="setCurrentSlideIndex($index)">{{slide.description}}</a>
							</li>
						</ul>
					</div>
				</nav>
				</div>
			</div>


<!-- 
			<a ui-sref="home.fruit">fruit product</a><br>
			<a ui-sref="home.meat">meat product</a><br>
			<a ui-sref="home.milk">milk product</a><br> -->
		<div  ui-view>
		</div>


		<!-- <div class="filter-footer" ng-controller="FilterCtrl">
			<div ng-click="showFilterPanel()">
				<img class="filter-image" src="http://localhost:9001/src/image/filter.png">
			</div> 
			</div>
		-->
			<div class="circular-filter" ng-controller="FilterCtrl">
				<div class="circle" ng-class="{open: isFilterPanelShow}">
					<a ng-repeat="item in items" ui-sref="{{item.sref}}"><i class="{{item.norclass}}" ng-class="{selected: isCurrentItemSelect($index)}" ng-click="selectItem($index)"></i></a><!-- 
					<a ui-sref="home.fruit"><i class="font-icon fa fa-apple" ng-class="{selected: isFirstSelect()}"></i></a>
					<a ui-sref="home.meat"><i class="font-icon fa fa-birthday-cake"></i></a>
					<a ui-sref="home.milk"><i class="font-icon fa fa-coffee"></i></a> -->
				</div>
				<div class="filter-menu" ng-click="showFilterPanel()"><i class="font-icon fa fa-filter"></i></div>
			</div>
<!-- 		</div>
		</div>
	</div>
	</div>
</div> -->